@model examen2.Models.compraCine

<div>
    <h4>compraCine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ticket.nombrePelicula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ticket.nombrePelicula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadNinos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadNinos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidadRegular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadRegular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargoServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargoServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCompra }) |
    @Html.ActionLink("Back to List", "Index")
</p>
