@model IEnumerable<examen2.Models.compraCine>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ticket.nombrePelicula)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargoServicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ticket.nombrePelicula)
            </td>
            <td>
                ₡  @Html.DisplayFor(modelItem => item.descuento)
            </td>
            <td>
                ₡  @Html.DisplayFor(modelItem => item.cargoServicio)
            </td>
            <td>
                ₡  @Html.DisplayFor(modelItem => item.total)
            </td>

        </tr>
    }

</table>
